/* Google Fonts must be first */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables */
:root {
    --main-color: #713213;
    --second-color: #B7B382;
    --third-color: #DF6500;
    --fourth-color: #FFFFFF;
    --fifth-color: #D2BEA5;
}

/* Global Styles */
body {
    width: 100vw;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}
